<div class="main card">
  <div class="row full">
    <div class="col-6 day-detail full">
      <div class="day-header">
        {{ selectedDay.dayName }}
      </div>
      <div class="container day-container">
        <div class="row align-content-center align-middle">
          <div class="col-3">
            <div class="day-number">
              {{ selectedDay.day }}
            </div>
          </div>
          <div class="col-9">
            <div class="day-month">
              {{ selectedDay.monthName }}
            </div>
            <div class="day-year">
              {{ selectedDay.year }}
            </div>
          </div>
        </div>
      </div>
      <div class="container reservations-wrapper">
        <div class="row align-items-center">
            <div *ngFor="let reservation of selectedDay.reservations" class="card reservation col-3" style="width: 100%">
              <p>
                <i class="fas fa-clock"></i>
              </p>
              <p class="hour">
                 {{ reservation.time }}
                </p>
                <p>
                  <i class="fas fa-utensils"></i>
                </p>
              <p class="people">
                <ng-container *ngIf="reservation.numPeople > 3"><i class="fas fa-user"></i> x{{ reservation.numPeople }}</ng-container>
                <ng-container *ngIf="reservation.numPeople <= 3"><i *ngFor="let i of items(reservation.numPeople)" class="fas fa-user mr-2"></i></ng-container>
              </p>
            </div>
        </div>
        
      </div>      
    </div>
    <div class="col-6 calendar-wrapper full">
      <table class="full">
        <thead>
          <tr class="month-name">
            <th mdbWavesEffect class="control prev" (click)="changeMonth(-1)"><i class="fa fa-angle-left"></i></th>
            <th colspan="5" class="center">{{ months[month] }} {{ year }}</th>
            <th mdbWavesEffect class="control prev" (click)="changeMonth(1)"><i class="fa fa-angle-right"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td *ngFor="let d of weekDays" class="week-days">{{ d.substring(0, 3) }}</td>
          </tr>
          <tr *ngFor="let row of monthTable; let i = index">
            <td mdbWavesEffect *ngFor="let day of row; let j = index" (click)="setAsSelected(i, j)" class="calendar-day"
              [ngClass]="day.classes">
              <p>{{ day.day }}</p>
              <mdb-badge *ngIf="day.reservations.length !== 0" class="num-events" pill="true" danger="true">{{
                day.reservations.length }}</mdb-badge>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
