<div class="card">
  <div class="row full">
    <div class="col-6 day-detail full">
      <div class="day-header">
        {{ selectedDay.dayName }}
      </div>
      <div class="container day-container">
        <div class="day-number">
          {{ selectedDay.day }}
        </div>
        <div class="day-month">
          {{ selectedDay.monthName }}
        </div>
        <div class="day-year">
          {{ selectedDay.year }}
        </div>
      </div>
    </div>
    <div class="col-6 calendar-wrapper full">
      <table class="full">
        <thead>
          <tr class="month-name">
            <th mdbWavesEffect class="control prev" (click)="changeMonth(-1)"><i class="fa fa-angle-left"></i></th>
            <th colspan="5" class="center">{{ months[month] }} {{ year }}</th>
            <th mdbWavesEffect class="control prev" (click)="changeMonth(1)"><i class="fa fa-angle-right"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td *ngFor="let d of weekDays" class="week-days">{{ d.substring(0, 3) }}</td>
          </tr>
          <tr *ngFor="let row of monthTable; let i = index">
            <td mdbWavesEffect *ngFor="let day of row; let j = index" (click)="setAsSelected(i, j)" class="calendar-day"
              [ngClass]="day.classes">
              <p>{{ day.day }}</p>
              <mdb-badge class="num-events" pill="true" danger="true">3</mdb-badge>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
